body, html {
    height: 100%;
    margin: 0;
}

.bk{
    background-image: url(../assets/images/Lyft_Brand.png);
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
