body, html {
    height: 100%;
    margin: 0;
}

/* splash */

#bk-splash {
    background-image: url(../assets/images/splash.gif);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* index */

.btn-lg{
    background-color: #E40B8C;
    color: white;
    position: relative;
    bottom: 0;
    margin-bottom: 2em;
}

.buttons{
    position: relative;
    top: 30vh;
}

.logo-blue{
    width: 100%;
    position: relative;
    top:10vh;
}

/* ask_number */

.fa-angle-left  {
    color: rgb(0,180,174);
    font-size: 2em;
}

.logo-pink{
    height: 13vh;
}


/* valid_number */
#number-valid{
    border: none;
    background-color:rgb(0,180,174,0.1);
    margin-left: .2em;
}
