<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/assets/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
</head>

<body>


    <!-- bootstrap CDN de ser  necesario borrar los archivos y se vaya a produccion-->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <!-- bootstrap js -->
    <script type="text/javascript" src="js/assets/bootstrap.min.js"></script>

    <!-- js -->
    <script type="text/javascript" src="js/app.js"></script>
</body>

</html>
