<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/assets/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Lyft</title>
</head>

<body>
    <main class="container-fluid">
        <div class="text-center">
            <br>
            <div class="row">
                <img src="../assets/images/Lyft_logo.svg.png" class="col-4 offset-4 logo-pink" alt="logo-pink">
            </div>
            <hr>
            <div class="row">
                <a href="#" class="btn-back col-2"> <i class="back fas fa-angle-left">Back</i> </a>
            </div>
            <hr>
            <h3 class="col-10 offset-1">Sign Up</h3>
            <p>Join now for free ride credit</p>
            <hr>
        </div>
        <div class="row offset-3">
            <h4>LAB:</h4>
            <input type="number" class="form-control text-center border-bottom border-dark col-2" id="number-valid" placeholder="">
            <input type="number" class="form-control text-center border-bottom border-dark col-2" id="number-valid" placeholder="">
            <input type="number" class="form-control text-center border-bottom border-dark col-2" id="number-valid" placeholder="">
        </div>
        <br>
        <p class="text-center">Enter the code sent to +52 <span id="show-number"></span> </p>
        <button type="button" class="btn-sm btn-resend col-4 offset-4">Resend Code</button>
        <br>
        <br>
        <button type="button" class="btn-lg btn-sign col-10 offset-1">Next</button>

    </main>

    <!-- bootstrap CDN de ser  necesario borrar los archivos y se vaya a produccion-->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- bootstrap js -->
    <script type="text/javascript" src="../js/assets/bootstrap.min.js"></script>

    <!-- js -->
    <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>
